<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/login_style.css">
    <title>Painel de login</title>
</head>
<body>
    <header>
        <a href="{{voltar}}">
            <button>voltar para o inicio</button>
        </a>
    </header>
    <div id="conteudo_site">
        <div id="login_painel">
            <h2 id="titulo_form">Login</h2>
            <div class="input_user">          
                <form action="/login" method="post">
                    
                    <input type="text" name="nome" id="campo_nome" class="registro_usuario" placeholder="Nome">

                    <input type="number" name="idade" id="campo_idade" class="registro_usuario" placeholder="Idade">

                    <input type="email" name="email" placeholder="Email" required>
                    
                    <input type="password" name="password" placeholder="Senha" required>

                    <input type="hidden" name="acao" id="acao" value="login">
                    
                    <button type="submit" id="user_botao">Enviar</button>
                </form>
                {% if mensagem %}  
                    <span id="temp_mensagem" class="{{categoria}}_mensagem">{{mensagem}}</span>
                {% endif %}
            </div>
            
            <div>
                
                <div>
                    <span id="loginregistrar">Novo aqui?</span>
                    <button onclick="pararegistro()" id="user_botao">Cadastra-se</button>
                </div>
                
                <div>
                    <span id="loginregistrar">Já possui uma conta?</span>
                    <button onclick="paralogar()" id="user_botao">Logar</button>
                </div>
                
                <div>
                    <span>Esqueceu a senha?</span>
                    <button action="/alterar_senha" id="user_botao">Alterar senha</button>
                </div>
                
            </div>

            </div>
    </div>

    </div>

    <script>
        function pararegistro(){
            document.getElementById("campo_nome").style.display = "block";
            document.getElementById("campo_idade").style.display = "block";
            document.getElementById("acao").value= "registro"
            document.getElementById("titulo_form").innerText = "Cadastro"
            // document.getElementById("conteudo_site").style.width
        }

        function paralogar(){
            document.getElementById("campo_nome").style.display = "none";
            document.getElementById("campo_idade").style.display = "none";
            document.getElementById("acao").value= "login"
            document.getElementById("titulo_form").innerText = "Login"
        }

        setTimeout(function(){
            var msg = document.getElementsByClassName("temp_mensagem");
            if (msg){
                msg.style.display="none"
            }
        }, 4000)

    </script>
</body>
</html>