<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/painel_style.css">
    <title>Listagem de livros</title>
</head>
<body>
    <header>
        <div>
            <span>Olá, {{nome_usuario}}!</span>
            <a href="{{sair}}">
                Não é você?
            </a>
        </div>
        <a href="{{voltar}}">
            <button>Voltar para a pagina inical</button>
        </a>
    </header>
    <div class="lista_livros">
        <div class="aviso_mensagem">
            {% with mensagens = get_flashed_messages(with_categories=true)%}
                {%if mensagens%}
                    {% for categoria, mensagem in mensagens%}
                    <span class="{{categoria}}_mensagem">
                        {{mensagem}}
                    </span>
                    {%endfor%}
                {%endif%}
            {%endwith%}
    
        </div>
        <table>
            <h1>Listagem de Livros</h1>
            <tr>
                <th>Titulo</th>
                <th>Autor</th>
                <th>Ano</th>
                <th>Genero</th>
                <th>Disponivel</th>
                <th>Quantidade</th>
                <th>Emprestar</th>
           </tr>
           {% for livro in livros%}
           <tr>
                <td>{{livro["titulo"]}}</td>
                <td>{{livro["autor"]}}</td>
                <td>{{livro["ano"]}}</td>
                <td>{{livro["genero"]}}</td>
                <td>{{'Sim' if livro["disponivel"] else 'Não'}}</td>
                <td>{{livro["quantidade"] if livro["disponivel"] else 0}}</td>
                <td>{% if livro["quantidade"] > 0 %}
                    <form action="{{url_for('emprestar_livros', livro_id = livro['id'])}}" method="post" onsubmit="return confirm('Deseja emprestar este livro?')">
                        <button type="submit">Emprestar</button>
                    </form>
                    {%endif%}
                </td>
                
           </tr>
           {%endfor%}
        </table>
    </div>
    
    
</body>
</html>