<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/painel_style.css">
    <title>Listagem de livros</title>
</head>
<body>
    <header>
        <span>Ola, {{nome_usuario}}</span>
        <a href="{{voltar}}">
            <button>Voltar para a pagina inical</button>
        </a>
    </header>
    <div class="lista_livros">
        <table>
            <h1>Listagem de Livros</h1>
            <tr>
                <th>Titulo</th>
                <th>Autor</th>
                <th>Ano</th>
                <th>Genero</th>
                <th>Disponivel</th>
                <th>Quantidade</th>
           </tr>
           {% for livro in livros%}
           <tr>
                <td>{{livro["titulo"]}}</td>
                <td>{{livro["autor"]}}</td>
                <td>{{livro["ano"]}}</td>
                <td>{{livro["genero"]}}</td>
                <td>{{'Sim' if livro["disponivel"] else 'Não'}}</td>
                <td>{{livro["quantidade"] if livro["disponivel"] else 0}}</td>
                
           </tr>
           {%endfor%}
        </table>
        <button action="/edição_livros"></button>
    </div>    
</body>
</html>