<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/login_style.css">
    <title>Painel de login</title>
</head>
<body>
    <div id="conteudo_site">
        <div id="login_painel">
            <h2>Login</h2>
            <div class="input_user" id="input_user-email">
                <span>Email</span>
                <input type="email" required="required" placeholder="Email">    
            </div>

            <div class="input_user" id="input_password">
                <span>Senha</span>
                <input type="senha" required="required" placeholder="Senha">
            </div>

            <div class="input_user">
                <button id="user_botao">Enviar</button>
            </div>
        </div>
    </div>
</body>
</html>