html{
    background-color: 222;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    font-size: 20px;
}

body{
    background-color: #222;
    color: white;
    height: 60%;
    width: 100%
}

header{
    display: flex;
    justify-content: space-between;
    padding-left: 2%;
    padding-top: 5px;
}

#conteudo_site{
    background-color: #444;
    border-radius: 10px;
    margin-top: 5%;
    padding: 5px 25px 25px 25px;
    height: 50%;
    width: 40%;
    justify-content: center;
    justify-self: center;
    align-self: center;
    display: flex;
}

h2{
    justify-self: center;
}

input{
    justify-content: center;
    justify-self: center;
    align-items: center;
    border-radius: 5px;
    padding: 10px;
    width: 120%;
}

.input_user{
    margin: 10px;
    gap: 10px;
    border: 5px;
    justify-self: center;
    display:inline-flex;
    align-items: center;
    display: flex;
    flex-direction: column;
}

#user_botao{
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 30px;
    background-color: white;
    margin: 10px 5px 5px 5px;
    border-radius: 10px;
    border: solid 2px;
}
#user_botao:hover{
    cursor: pointer;
    background-color: #dddddd;
}
form{
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-content: center;
    margin: 5px 5px;
}

span{
    font-size: 15px;
}
.erro_mensagem{
    border-radius: 5px;
    padding: 7px;
    background-color: red;
    color: white;
    font-weight: bold;
}

.sucesso_mensagem{
    border-radius: 5px;
    padding: 7px;
    background-color: green;
    color: white;
    font-weight: bold;
}

.registro_usuario{
    display: none;
    display: none;
}