html{
    background-color: 222;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    font-size: 20px;
}

body{
    background-color: #222;
    color: white;
    padding-top: 10%;
    height: 60%;
    width: 100%
}

#conteudo_site{
    background-color: #444;
    border-radius: 10px;
    padding: 5px 25px 25px 25px;
    height: 50%;
    width: 30%;
    justify-content: center;
    justify-self: center;
    align-self: center;
    display: flex;
}

h2{
    justify-self: center;
}

input{
    justify-content: center;
    justify-self: center;
    align-items: center;
    border-radius: 5px;
    size: 10px;
    padding: 10px;
}

.input_user{
    margin: 10px;
    gap: 10px;
    border: 5px;
    justify-self: center;
    display:inline-flex;
    align-items: center;
    display: flex;
    flex-direction: column;
}

#user_botao{
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 30px;
    background-color: white;
    margin: 10px 5px 5px 5px;
    border-radius: 10px;
    border: solid 2px;
}
#user_botao:hover{
    cursor: pointer;
    background-color: #dddddd;
}
form{
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-content: center;
    margin: 5px 5px;
}

span{
    size: 10px;
    color: red;
}